:root {
  --color-main: #0065fc;
  --color-main-light: #deebff;
  --color-background: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

*,
*:focus,
*:hover {
  outline: none;
}

/* #region General */

body {
  margin: 0;
}

main {
  margin: 0 50px 35px;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.4em;
  font-weight: 700;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

h3 {
  font-size: 1.15em;
}

p {
  font-weight: 500;
}

button {
  cursor: pointer;
}

.title-duo:first-child {
  margin-bottom: 0.3em;
}

.title-duo:last-child {
  margin-top: 0;
}

/* #endregion */

/* #region Navbar */
.navbar {
  width: 100%;
  margin: 0;
}

.nav-logo {
  image-rendering: crisp-edges;
  padding: 40px 0 20px 60px;
}

.navbar,
.nav-logo {
  height: 105px;
}

.navbar ul {
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
  list-style-type: none;
  margin: 0 50px 0 0;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 100%;
}

.navbar li:hover {
  border-top: 3px solid var(--color-main);
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-align: center;
}

.navbar li:hover a {
  color: var(--color-main);
}

/* #endregion */

/* #region Searchbar */

.searchbar {
  width: fit-content;
  border: 2px solid var(--color-background);
  border-radius: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 20px 0 25px;
}

.searchbar * {
  font-size: 18px;
  font-weight: 600;
}

.searchbar,
.searchbar * {
  height: 50px;
}

.searchbar input {
  border: none;
  color: black;
  font-weight: 700;
  padding: 0 0 0 18px;
  box-shadow: none;
  height: 46px;
}

.searchbar input::placeholder {
  color: black;
}

.searchbar-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2px;
  width: 50px;
  background-color: var(--color-background);
  border: none;
  border-radius: 16px 0 0 16px;
}

.searchbar-icon::before {
  font: var(--fa-font-solid);
  font-weight: 900;
  content: '\f3c5';
}

.searchbar-button {
  position: relative;
  right: -2px;
  background-color: var(--color-main);
  border: none;
  border-radius: 0 16px 16px 0;
  padding: 10px 18px;
  color: white;
}

.searchbar-button::before {
  content: 'Rechercher';
}

/* #endregion */

/* #region Filters */

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.filter-container h3 {
  flex-basis: auto;
  margin-right: 30px;
}

.filter-container button {
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-self: center;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 700;
  margin: 5px 25px 5px 0;
}

.filter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  left: -10px;
  width: 50px;
  position: relative;
  color: var(--color-main);
  background-color: var(--color-main-light);
  border: none;
  border-radius: 25px;
}

.filter-container button,
.filter-icon {
  height: 50px;
}

.filter-container button:hover {
  border: 2px solid var(--color-main-light);
  position: relative;
  top: +2px;
  color: var(--color-main);
}

.filter-icon::before {
  font: var(--fa-font-solid);
  font-weight: 900;
  content: '';
}

button:hover .filter-icon::before {
  font-size: 22px;
}

.filter-icon.money-icon::before {
  content: '\f53a';
}

.filter-icon.child-icon::before {
  content: '\e59d';
}

.filter-icon.heart-icon::before {
  content: '\f004';
}

.filter-icon.dog-icon::before {
  content: '\f6d3';
}

/* #endregion */

/* #region Housing Info */

.housing-info {
  display: flex;
  flex-wrap: wrap;
}

.housing-info p {
  margin: 0;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 2px solid var(--color-background);
  border-radius: 50%;
  margin-right: 10px;
}

.info-icon::before {
  font: var(--fa-font-solid);
  font-weight: 900;
  font-size: 12px;
  content: '\f129';
  color: var(--color-main);
}

/* #endregion */

/* #region Host */

.host-block {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 40px;
}

.host-block > div {
  border-radius: 16px;
  background-color: var(--color-background);
  padding: 40px;
}

.host-block div h2,
.host-block div h3 {
  margin: 0;
}

#pop {
  width: 30%;
}

#host {
  width: 70%;
  margin-right: 40px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  margin: 30px 0 40px;
  padding: 0;
}

.card {
  margin: 0;
  padding: 5px;
  height: 200px;
  width: 246px;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 15px 0 #dedfea;
}

.card img {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border: none;
  border-radius: 16px 16px 0 0;
}

.card h4 {
  margin: 6px 11px 4px;
}

.card p {
  font-size: 0.9em;
  margin: 0 0 0 11px;
}

.stars {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px 0 0 11px;
}

.stars div::before {
  font: var(--fa-font-solid);
  font-weight: 900;
  content: '\f005';
  color: #d9d9d9;
  font-size: 12px;
}

.stars div.star-on::before {
  color: var(--color-main);
}

/* #endregion */
