:root {
  --color-main: #0065fc;
  --color-main-light: #deebff;
  --color-background: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

*,
*:focus,
*:hover {
  outline: none;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-weight: 700;
}

/* #region Navbar */
.navbar {
  display: inline;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  width: 200px;
}

.navbar li a:hover {
  border-top: 5px;
}

/* #endregion */

/* #region Searchbar */

.searchbar {
  width: fit-content;
  border: 2px solid var(--color-background);
  border-radius: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.searchbar * {
  font-size: 18px;
  font-weight: 600;
}

.searchbar,
.searchbar * {
  height: 50px;
}

.searchbar input {
  border: none;
  color: black;
  font-weight: 700;
  padding: 0 0 0 18px;
  box-shadow: none;
  height: 46px;
}

.searchbar input::placeholder {
  color: black;
}

.searchbar-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2px;
  width: 50px;
  background-color: var(--color-background);
  border: none;
  border-radius: 16px 0 0 16px;
}

.searchbar-icon::before {
  font: var(--fa-font-solid);
  font-weight: 900;
  content: '\f3c5';
}

.searchbar-button {
  position: relative;
  right: -2px;
  background-color: var(--color-main);
  border: none;
  border-radius: 0 16px 16px 0;
  padding: 10px 18px;
  color: white;
}

.searchbar-button::before {
  content: 'Rechercher';
}

/* #endregion */

@media only screen and (max-width: 768px) {
  .searchbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 16px;
  }

  .searchbar-button::before {
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f002';
  }
}
