:root {
  --color-main: #0065fc;
  --color-main-light: #deebff;
  --color-background: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

*,
*:focus,
*:hover {
  outline: none;
}

/* #region General */

body {
  margin: 0 auto;
  max-width: 1430px;
}

main {
  margin: 0 50px 55px;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.4em;
  font-weight: 700;
}

h3 {
  font-size: 1.15em;
}

h4 {
  font-size: 0.97em;
}

p {
  font-weight: 500;
}

button {
  cursor: pointer;
}

.title-duo h2 {
  /* margin-block-start: 0.6em;
  margin-block-end: 0.6em; */
  margin-top: 18px;
  margin-bottom: 0;
}

.title-duo p {
  margin-top: 8px;
}

/* #endregion */

/* #region Footer */

footer {
  display: flex;
  flex-direction: row;
  padding: 30px 50px 50px;
  background-color: var(--color-background);
}

footer ul {
  width: 33%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin-bottom: 12px;
  font-size: 0.965em;
  font-weight: 500;
}

footer li.title {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 1em;
}

footer a {
  cursor: pointer;
}

/* #endregion */

/* #region Navbar */
.navbar {
  width: 100%;
  margin: 0;
}

.nav-logo {
  image-rendering: crisp-edges;
  padding: 40px 0 20px 60px;
}

.navbar,
.nav-logo {
  height: 105px;
}

.navbar ul,
.navbar li {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar ul {
  float: right;
  list-style-type: none;
  margin: 0 50px 0 0;
}

.navbar li {
  justify-content: center;
  width: 160px;
}

.navbar li:hover {
  border-top: 3px solid var(--color-main);
}

/* a tags: see the filter region */

/* #endregion */

/* #region Searchbar */

.searchbar {
  display: flex;
  width: fit-content;
  border: 2px solid var(--color-background);
  border-radius: 16px;
  align-items: center;
  box-sizing: border-box;
  margin: 20px 0 25px;
}

.searchbar,
.searchbar * {
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}

.searchbar input {
  border: none;
  color: black;
  font-weight: 700;
  padding: 0 0 0 18px;
  box-shadow: none;
  height: 46px;
  flex-grow: 1;
}

.searchbar input::placeholder {
  color: black;
  opacity: 1;
}

.searchbar-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2px;
  width: 50px;
  background-color: var(--color-background);
  border: none;
  border-radius: 16px 0 0 16px;
}

.searchbar-icon::before {
  font: var(--fa-font-solid);
  font-weight: 900;
  content: '\f3c5';
}

.searchbar-button {
  position: relative;
  right: -2px;
  background-color: var(--color-main);
  border: none;
  border-radius: 0 16px 16px 0;
  padding: 10px 18px;
  color: white;
}

.searchbar-button::before {
  content: 'Rechercher';
}

/* #endregion */

/* #region Filters */

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.filter-container h3 {
  flex-basis: auto;
  margin-right: 40px;
}

.filter-container a,
.filter-icon {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 25px;
}

.filter-container a {
  background-color: white;
  border: 2px solid #d9d9d9;
  justify-self: center;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 30px 10px 0;
  cursor: pointer;
}

.filter-icon {
  justify-content: center;
  left: -10px;
  width: 50px;
  position: relative;
  color: var(--color-main);
  background-color: var(--color-main-light);
  border: none;
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-align: center;
}

.filter-container a:hover {
  border: 2px solid var(--color-main-light);
  position: relative;
  top: +2px;
}

.filter-container a:hover,
.navbar li:hover a {
  color: var(--color-main);
}

.filter-icon::before {
  font: var(--fa-font-solid);
  font-weight: 900;
  content: '';
  font-size: 20px;
}

a:hover .filter-icon::before {
  font-size: 24px;
}

.filter-icon.money-icon::before {
  content: '\f53a';
}

.filter-icon.child-icon::before {
  content: '\e59d';
}

.filter-icon.heart-icon::before {
  content: '\f004';
}

.filter-icon.dog-icon::before {
  content: '\f6d3';
}

/* #endregion */

/* #region Housing Info */

.housing-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.housing-info p {
  margin: 0;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 2px solid var(--color-background);
  border-radius: 50%;
  margin-right: 10px;
}

.info-icon::before {
  font: var(--fa-font-solid);
  font-weight: 900;
  font-size: 12px;
  content: '\f129';
  color: var(--color-main);
}

/* #endregion */

/* #region Cards */

.card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 25px 0 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px;
  height: 200px;
  width: calc((100% - 60px) / 3);
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 18px -4px #dddde1;
  transition: all 0.1s;
}

.card:hover {
  transform: scale(1.06);
  box-shadow: 0 10px 18px -4px #d3d3d8;
}

.card img {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border: none;
  border-radius: 16px 16px 0 0;
}

.card h4 {
  margin: 8px 0 4px;
}

.card p {
  font-size: 0.86em;
  margin: 0;
}

.card > div {
  position: relative;
  height: 100%;
  margin-left: 11px;
  margin-right: 11px;
}

/* #endregion */

/* #region Hosts */

.host-block {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 40px;
}

.host-block > div {
  border-radius: 20px;
  background-color: var(--color-background);
  padding: 40px;
}

.host-block div h2,
.host-block div h3 {
  margin: 0;
}

#pop {
  position: relative;
  width: 33%;
  min-width: 330px;
  height: 100%;
}

#host {
  width: 67%;
  margin-right: 40px;
}

#host .card {
  margin-right: 30px;
  margin-bottom: 30px;
}

#host h3 a:hover {
  color: var(--color-main);
}

#pop > h2::after {
  font: var(--fa-font-solid);
  font-weight: 900;
  content: '\f005';
  color: black;
  font-size: 22px;
  position: absolute;
  right: 40px;
}

#host .card-container {
  margin-bottom: 5px;
}

.stars {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  gap: 1px;
  bottom: 5px;
}

.stars div::before {
  font: var(--fa-font-solid);
  font-weight: 900;
  content: '\f005';
  color: #d9d9d9;
  font-size: 12px;
}

.stars div.star-on::before {
  color: var(--color-main);
}

/* #endregion */

/* #region Activities */

#activities {
  margin-top: 55px;
}

#activities .card-container {
  height: 445px;
  flex-direction: column;
}

#activities .card {
  width: calc(25% - (33px));
  padding: 0;
  margin-right: 44px;
}

#activities .card img {
  width: 100%;
  height: calc(100% - 55px);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center 30%;
  border: none;
  border-radius: 20px 20px 0 0;
}

#activities .card img.aim-down {
  object-position: center 45%;
}

#activities .card div {
  height: 55px;
  margin-left: 16px;
}

#activities .card h4 {
  display: flex;
  height: 100%;
  margin: 0;
  align-items: center;
}

#activities .card:last-child {
  margin-bottom: 0;
}

.c-doubled {
  height: 100%;
}

.c-2-third {
  height: calc(60% - 22px);
  margin-bottom: 44px;
}

.c-third {
  height: calc(40% - 22px);
}

.c-half {
  height: calc(50% - 22px);
  margin-right: 0;
  margin-bottom: 44px;
}

/* #endregion */

@media only screen and (min-width: 993px) {
  #pop .card {
    flex-direction: row;
    height: 144px;
    width: 100%;
    margin-bottom: 30px;
  }

  #pop .card:last-child {
    margin-bottom: 0;
  }

  #pop .card img {
    width: 127px;
    height: 100%;
    border-radius: 16px 0 0 16px;
  }

  #pop .card > div {
    margin-left: 20px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1278px) {
  #host .card:nth-child(3n) {
    margin-right: 0;
  }
}
