:root {
  --color-main: #0065fc;
  --color-main-light: #deebff;
  --color-background: #f2f2f2;
}

@media only screen and (max-width: 1277px) {
  #pop .card {
    height: 154px;
  }

  #host .card {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  #host .card:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 992px) {
  main {
    margin: 0 25px 35px;
  }

  footer {
    padding: 30px 25px 35px 30px;
  }

  #pop .card-container {
    flex-flow: row nowrap;
  }

  #pop {
    margin-bottom: 30px;
  }

  #host {
    margin-right: 0;
  }

  #pop .card {
    margin-right: 30px;
    height: 220px;
  }

  #pop .card:last-child {
    margin-right: 0;
  }

  .host-block {
    flex-direction: column;
  }

  #host,
  #pop {
    width: auto;
    padding: 40px 20px;
  }
}

@media only screen and (max-width: 768px) {
  /* #region General */
  main {
    margin: 0 0 35px;
  }

  footer {
    flex-direction: column;
    padding: 30px 25px 15px;
  }

  footer ul {
    width: auto;
    margin-bottom: 16px;
  }

  .title-duo,
  .filter-container,
  .housing-info,
  #activities {
    margin: 0 25px;
  }

  .title-duo:first-child {
    margin-top: 25px;
  }

  .title-duo p {
    margin-top: 12px;
    font-size: 0.97em;
  }

  .housing-info {
    margin-top: 20px;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  /* #endregion */

  /* #region Navbar */

  .navbar,
  .navbar ul {
    width: 100%;
    margin: 0;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .navbar ul {
    height: 50px;
    padding: 0;
  }

  .navbar li {
    width: 50%;
    border-bottom: 3px solid var(--color-background);
  }

  .navbar li:hover {
    border-bottom: 3px solid var(--color-main);
    border-top: none;
  }

  .nav-logo {
    height: 86px;
    position: relative;
    left: calc(50% - 32px);
    padding: 20px 0;
  }

  /* #endregion */

  /* #region Searchbar */

  .searchbar {
    margin: 35px 25px;
  }

  .searchbar input {
    max-width: 210px;
  }

  .searchbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 16px;
  }

  .searchbar-button::before {
    font: var(--fa-font-solid);
    font-weight: 900;
    content: '\f002';
  }

  /* #endregion */

  /* #region Filters */

  .filter-container a {
    margin: 7px 20px 7px 0;
    font-size: 16px;
  }

  .filter-container h3 {
    flex-basis: 100%;
    margin: 0 0 5px;
  }

  /* #endregion */

  .card-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }

  /* #region Hosts */

  #host,
  #pop {
    width: auto;
    border-radius: 0;
    padding: 40px 20px;
    min-width: auto;
  }

  #host {
    margin-right: 0;
    background-color: white;
  }

  #pop .card-container {
    flex-direction: column;
  }

  .card,
  #host .card,
  #pop .card {
    width: 100%;
    height: 200px;
    margin-right: 0;
    margin-bottom: 13px;
  }

  #pop > h2::after {
    right: 20px;
  }

  /* #endregion */

  /* #region Activities */

  #activities {
    margin-bottom: 45px;
  }

  #activities .card-container {
    flex-flow: column nowrap;
    height: auto;
  }

  #activities .card {
    width: 100%;
    height: 190px;
    margin: 0;
    margin-bottom: 25px;
  }

  #activities .card:last-child {
    margin-bottom: 0;
  }

  #host .card:last-child {
    margin-bottom: 30px;
  }

  /* #endregion */
}

@media only screen and (max-width: 350px) {
  .searchbar input {
    width: 130px;
    padding: 0 0 0 5px;
  }

  .searchbar input::placeholder {
    font-size: 0.84em;
  }
}
